*{
  margin:0;
}
nav{
  font-family: 'Lemon Milk', sans-serif;
}

html,body{
  width:100%;
  background-color: @colorDark;
  font-family: 'Transducer Hairline', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{

}

#nav-icons{
  padding-left: 580px;
}

#Home{
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    justify-content: space-between;
  }
}


#wrapper{

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  color: @colorLinks;
}

a:hover{
  color: @colorHover;
}


#animation{
  padding-top: 22px;
  animation: slide 2s ease-in-out;
}

#dish {
  background-image: url("../images/banner.png");
  padding-top: 2px;
  color: @colorBright;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: dish-image 2s ease-in-out;

  @media screen and (max-width: 800px){
   img{
     display: none;
   }
    background-image: url("../images/800.png") ;
    animation: mobile-image 2s ease-in-out;
  }
  }

#dish p{
  animation: p-slide 2s ease-in-out;
  @media screen and (max-width: 800px){
      display: none;
    }
}


#content{
  background-color: @colorMain;
  border-color: @colorText;
  margin-top: 40px;
  min-height:400px;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  border-radius:0;
  justify-content: center;

  @media screen and (min-width: 800px){
    width: 85%;
    border-radius: 5px;
  }

  p.intro{
    max-width:100%;
    margin:20px;
    text-align: center;
  }
  p.featured{
    max-width: 100%;
    margin: 20px;
    text-align: center;
    font-family: 'Lemon Milk', sans-serif;
  }
  p.spicy{
    max-width: 100%;
    margin: 20px;
    text-align: center;
    font-family: 'Lemon Milk', sans-serif;
  }
  .menu-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item{
      display: flex;
      flex-direction: column;

      width:90%;
      margin:20px;

      background-color: @colorLight;

      i{
        width:30px;
        cursor: pointer;
        user-select: none;
      }

      h2 {
        max-width: 100%;
        background-color: white;
        height: 30px;
        padding-left: 10px;

        i{
          margin-left:0px;
          margin-right: 5px;
        }
      }

      .desc{
        display: flex;
        flex-direction: row;
        width: 100%;

        overflow: hidden;
        max-height: 0px;

        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;

        img{
          width:100px;
          height:100px;
        }

        p{
          max-width:100%;
          padding: 5px;
        }
      }
    }
  }

}

@keyframes slide {
  0%{
   transform: translate(-500px,0px);
  }
  75%{
    transform: translate(0px, 70px);
  }
}

@keyframes p-slide{
  0%{
    transform: translate(-500px,0px);
  }
  75%{
    transform: translate(0px, 70px);
  }
}

@keyframes dish-image {
  0%{
    opacity: 0;
  }
  75%{
    opacity:1;
  }
}

@keyframes mobile-image {
  0%{
    opacity: 0;
  }
  75%{
    opacity:1;
  }
}
